{% extends "base.html" %}

{% block title %}
<title>Savva | Oops!</title>
{% endblock %}

{% block content %}
    <p class="huge-title text-center">
        No page here yet
    </p>

    <br>

    <p class="text-center">Return to the <a href="/">main</a></p>
{% endblock %}

