<!DOCTYPE html>
<html>
<head>
	{% block title %}
	{% endblock %}

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="stylesheet" type="text/css" href="/static/css/fonts.css">

	<link rel="icon" type="image/png" href="/static/img/favicon.png">

	{% block blueprint_css %}
	{% endblock blueprint_css %}

</head>
<body>

	<header>
		<a href="/"><h2 class="logo">Savva</h2></a>

		<ul class="header-links">
			<li><a href="/music">Music</a></li>
			<li><a href="/programming">Programming</a></li>
		</ul>

		<div class="burger">
			<div class="line1"></div>
			<div class="line2"></div>
		</div>
	</header>

	<div class="content">

		{% block content %}
		{% endblock %}

	</div>


	<footer>
		<a href="#"><h1 class="logo">S</h1></a>

		<ul>
			<li><a target="_blank" href="https://t.me/savvamirzoyan">Telegram</a></li>
			<li><a target="_blank" href="https://gitlab.com/savvasenok">GitLab</a></li>
		</ul>
	</footer>

	<script type="text/javascript" src="/static/js/menuSlider.js"></script>
	{% block blueprint_js %}
	{% endblock %}

</body>
</html>
