{% extends "base.html" %}

{% block title %}
<title>Savva | Main</title>
{% endblock %}

{% block blueprint_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('main_page.static', filename='css/style.css') }}">
{% endblock %}

{% block blueprint_js %}
<script type="text/javascript" src="{{ url_for('main_page.static', filename='js/scroll.js') }}"></script>
{% endblock %}

{% block content %}
<div style="min-height: 82vh;">
	<div class="frame">
		<img style="width: auto;" src="{{ url_for('main_page.static', filename='img/selfie.jpg') }}" class="round-img" alt="">
	</div>

	<p class="huge-title text-center">Hello!</p>

	<i onclick="scrollPage()" id="arrow" class="fa fa-chevron-down text-center"></i>

</div>


<div style="height: 10vh;" id="start"></div>
<p class="medium-title">About me</p>
<p>
	My name is Savva. I am 17, live, study and work in Ukraine
</p>

<br>
<br>
<br>

<p class="medium-title">Programming</p>
<p>
	Started my programming career in 2016 and never stopped since then. Tried games, web, some AI, Android Develompent, desktop applications, but mostly liked Telegram Chat-Bots and Natural Language Processing. You can look what I`ve done in <a href="programming">programming</a> section
</p>

<br>
<br>
<br>

<p class="medium-title">Music</p>
<p>
	I am also very intrested in music. Guitar is my passion from 2018. Dont play in bands, but intrested to be in. You can also listen to my tracks in <a href="music">music</a> section
</p>

<br>
<br>
<br>

<p class="medium-title">Contacts</p>
<p>
	You can contact me in <a href="https://t.me/savvamirzoyan">Telegram</a> or by email <a href="mailto:savvamirzoyan@gmail.com">savvamirzoyan@gmail.com</a>
</p>

{% endblock %}