audio {
	display: none;
}

.audio-file-holder {
	width: 100%;
	margin-bottom: 1rem;
}

.info {
	display: inline-flex;
}

.control-button {
	margin: 0.7rem;
	min-width: 1.1rem;
}

.controls {
	widows: 100%;
	display: flex;
}

.timeline-container {
	width: 100%;
	margin: auto;
	margin-right: 1rem;
	margin-left: 0.3rem;
}

.timeline {
	margin: auto;
	margin-right: 0.7rem;
	height: 2px;
	width: 100%;
	background: #727B7F;
}

.timeline-cursor {
	position: absolute;
	border-radius: 0.6rem;
	margin: -0.35rem 0;
	width: 0.6rem;
	height: 0.6rem;
	background: #727B7F;
}

.artist {
	color: #727B7F;
	margin-right: 1rem;
}

.title {
	color: #2C3539;
}

.fa-download {
	margin: auto;
}