#arrow {
	margin: 0;
	width: 100%;
	margin-top: 10vh;

	cursor: pointer;
	text-decoration: none;
	color: #2C3539;

	display: block;

	animation: jump .5s 3;
	animation-delay: .5s;
}

@keyframes jump {
	0% {
		margin: auto;
		margin-top: 10vh;
	}

	50% {
		margin: auto;
		margin-top: 12vh;
	}

	to {
		margin: auto;
		margin-top: 10vh;
	}
}