* {
	font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover{
	text-decoration: underline;
}

p {
	font-weight: lighter;
}

i {
	color: gray;
	font-weight: lighter;
}

.content a {
	color: #4169e1;
	font-weight: normal;
}

.caption {
	font-weight: lighter;
	color: gray;

	width: 75%;
	margin-left: 12.5%;
	margin-top: .5rem;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.huge-title {
	font-size: 4em;
}

.big-title {
	font-size: 3em;
}

.medium-title {
	font-size: 2em;
}

.small-title {
	font-size: 1.5em;
}

@media screen and (max-width: 1150px) {
	p {
		font-size: 1em;
	}

}

@media screen and (max-width: 550px) {
	p {
		font-size: .9em;
	}

	.huge-title {
		font-size: 3.5em;
	}

	.big-title {
		font-size: 2em;
	}

	.medium-title {
		font-size: 1.6em;
	}

	.small-title {
		font-size: 1.2em;
	}
}