* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 92vh;
    margin-top: 8vh;
    background: #ffffff;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #2C3539;
}

footer {
    width: 100%;
    min-height: 10vh;
    background-color: #2C3539;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer li {
    margin: 5px;
    font-weight: lighter;
}

li {
    list-style: none;
}

img {
    min-height: 5rem;
    max-height: 25rem;

    width: auto;
    max-width: 100%;
}

video {
    height: 25rem;
    width: auto;
    max-width: 100%;
}

.frame {
    text-align: center;
    vertical-align: middle;
    margin: 1rem;
    margin-bottom: 1.5rem;
}

.content {
    min-height: 82vh;
    width: 80%;
    font-size: 1.2em;
    padding: 2rem;
    margin: auto;
}

.logo {
    color: white;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 6px;
}

.header-links {
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.header-links a{
    color: white;
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 16px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 1px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s;
}

.btn {
    border: 1px solid #2C3539;
    border-radius: 100px;
    padding: 1rem;
    background: none;
    transition: 0.3s;
}

.btn:hover {
    background: #2C3539;
    color: white;
    transition: 0.5s;
}

.round-img {
	border-radius: 100%;
}


@media screen and (min-width: 1150px) {
    .content {
        width: 50%;
    }
}

@media screen and (max-width: 1150px) {

    .header-links {
        width: 45%;
    }
}

@media screen and (max-width: 920px) {

    .header-links {
        width: 55%;
    }
}

@media screen and (max-width: 770px) {

    .header-links {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: #2C3539;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .header-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

}

.header-active {
    transform: translateX(0%);
    display: flex
}

@keyframes headerLinkApear {

    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }

}

.toggle .line1 {
    transform: rotate(-45deg) translate(-3px, 1px);
}

.toggle .line2 {
    transform: rotate(45deg) translate(-3px, -1px);
}
