{% extends "base.html" %}

{% block title %}
<title>Savva | Programming</title>
{% endblock %}

{% block blueprint_js %}
<script type="text/javascript" src="static/js/test.js"></script>
{% endblock %}

{% block content %}	

{% if projects_amount > 0 %}
<div class="projects-holder">
	{% for idx in range(projects_amount) %}
		<div class="project-card">
			<a href="{{ projects_links[idx] }}"><img src="{{ projects_pics[idx] }}" class="project-roundish-pic"></a>
			<div class="project-card-text-holder">
				<h3><a href="{{ projects_links[idx] }}">{{ projects_titles[idx] }}</a></h3>
				<p class="caption">{{ projects_texts[idx] }}</p>
			</div>
		</div>

	{% endfor %}
</div>

{% endif %}
{% endblock %}

{% block blueprint_css %}
<link rel="stylesheet" type="text/css" href="static/css/style.css">
{% endblock %}