.projects-holder {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: auto auto;
}

.project-card {
    width: 100%;
}

.project-card-text-holder {
    border: 1px solid #eeeeee;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.project-card-text-holder a {
    color: black;
}

.project-card h3 {
    margin: 0.5rem;
}

.project-card p {
    margin: 0.5rem;
}

.project-roundish-pic {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.card-soft-corner {
    border-radius: 5px;
}

.project-card img {
    width: 100%;
    margin-bottom: -5.5px;
}

@media screen and (min-width: 920px) {
    .projects-holder {  
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 920px) {
    .projects-holder {  
        grid-template-columns: auto;
    }
}