{% extends "base.html" %}

{% block title %}
<title>Savva | Music</title>
{% endblock %}

{% block blueprint_css %}
<link rel="stylesheet" type="text/css" href="static/css/style.css">
{% endblock %}

{% block blueprint_js %}
<script type="text/javascript" src="static/js/audio.js"></script>
{% endblock %}

{% block content %}
{% if songs_list %}

	{% for song in songs_list %}

	<div class="audio-file-holder">

		<div class="info">
			<p class="artist">Savvasenok</p>
			<p class="title">{{ song }}</p>
		</div>

		<div class="controls">
			<i id="main-button{{ loop.index0 }}" class="fa fa-play control-button" onclick="play(this, '{{ loop.index0 }}')"></i>
			<i class="fa fa-step-backward control-button" onclick="restartSong('{{ loop.index0 }}')"></i>
			<div class="timeline-container">
				<div id="timeline{{ loop.index0 }}" class="timeline"></div>
				<div id="cursor{{ loop.index0 }}" class="timeline-cursor"></div>
			</div>

			<a href="static/files/{{ song }}.mp3" download="Savvasenok - {{ song }}.mp3" class="control-button">
				<i class="fa fa-download"></i>
			</a>
		</div>

		<audio controls id="song{{ loop.index0 }}">
			<source src="static/files/{{ song }}.mp3" type="audio/mp3">
		</audio> 

	</div>

	{% endfor %}

{% endif %}
{% endblock %}